body {
  font-family: "Roboto", sans-serif;
}

.App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.control {
}

.form-container {
  border: 1px solid #b1b1b1;

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;

  text-decoration: none;
  vertical-align: middle;
  min-width: 300px;
  padding: 20px;
  width: 330px;
  width: 50%;
  margin: 0 auto;
}
.form-field {
  border: 1px solid #525252;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #758596;

  padding: 8px;
  margin-bottom: 20px;
  width: 288px;
}
.form-field:focus {
  background: #fff;
  color: #324861;
}
.form-container strong {
  font-size: 15px;
  margin: 0 0 10px 0;
  font-weight: bold;
  text-align: center;
}
.form-title,
.field-title-a,
.field-title-b {
  margin-bottom: 10px;
  color: #324861;
}
.submit-container {
  margin: 8px 0;
  text-align: right;
}
.submit-button {
  border: 1px solid #b62e2e;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f44336;
  cursor: pointer;
  border-radius: 4px;
  cursor: pointer;
  padding: 8.5px 18px;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
}
.submit-button:hover {
  border: 1px solid #b62e2e;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #c73a30;
  cursor: pointer;
  border-radius: 4px;
}

.bookmark {
  display: grid;
  grid-template-columns: auto fit-content(1000px);
  grid-template-rows: 1fr;
  list-style-type: none;
  margin-bottom: 7px;
  padding: 5px;
  border: 1pt solid rgb(216, 216, 216);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fafafa;
}

a {
  display: inline;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: rgb(14, 14, 14);
}

ul {
  padding: 0 5px 0 5px;
  margin: 0;
}

.delete {
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f44336;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}
