body {
  font-family: "Roboto", sans-serif;
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.control {
}

.form-container {
  background: #fafafa;
  border: 1px solid #b1b1b1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-decoration: none;
  vertical-align: middle;
  min-width: 300px;
  padding: 20px;
  width: 330px;
  width: 50%;
  margin: 0 auto;
}
.form-field {
  border: 1px solid #525252;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #758596;

  padding: 8px;
  margin-bottom: 20px;
  width: 288px;
}
.form-field:focus {
  background: #fff;
  color: #324861;
}
.form-container strong {
  font-size: 15px;
  margin: 0 0 10px 0;
  font-weight: bold;
  text-align: center;
}
.form-title,
.field-title-a,
.field-title-b {
  margin-bottom: 10px;
  color: #324861;
}
.submit-container {
  margin: 8px 0;
  text-align: right;
}
.submit-button {
  border: 1px solid #b62e2e;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f44336;
  cursor: pointer;
  border-radius: 4px;
  cursor: pointer;
  padding: 8.5px 18px;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
}
.submit-button:hover {
  border: 1px solid #b62e2e;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #c73a30;
  cursor: pointer;
  border-radius: 4px;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;

  padding: 0 5px 0 5px;
  margin: 0;
}

.bookmark {
  display: grid;
  grid-template-columns: auto fit-content(1000px);
  grid-template-rows: 1fr;
  list-style-type: none;
  margin-bottom: 7px;
  padding: 5px;
  border: 1pt solid rgb(216, 216, 216);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fafafa;
}

a {
  display: inline;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: rgb(14, 14, 14);
  font-size: 0.9rem;
}

.delete {
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f44336;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  height: 20px;
}
